:root {
  --color-primary-rgb: 255, 0, 0;
  --color-secondary-rgb: 255, 255, 0;

  --color-primary: rgb(var(--color-primary-rgb));
  --color-secondary: rgb(var(--color-secondary-rgb), 0.2);

  --color-primary-bg: rgba(var(--color-primary-rgb), 0.2);
  --color-secondary-bg: pink;

  --color-accent: #f5414f;
  --color-accent-bg: #435499;

  /* feedback */
  --color-success: #88c459;
  --color-error: #f5414f;
  --color-warning: #ffd137;
}